<% hnow = Hour.now %>

<h2>Aktualna godzina: <%= hnow %></h2>

<dl data-tab class="tabs">
  <% @timetables[2..3].each_with_index do |tt, idx| %>
  <dd class="<%= 'active' if idx.zero? %>"><%= link_to tt.name, "#tab-#{idx}" %></dd>
    <% content_for(:tabs) do %>
      <div class="content <%= 'active' if idx.zero? %>" id="tab-<%= idx %>">
        <ul class="timetable">
        <% tt.get.each do |hour| %>
          <% if hour > hnow %>
            <li><%= hour %></li>
          <% else %>
            <li class="past"><%= hour %></li>
          <% end %>
        <% end %>
        </ul>
      </div>
    <% end %>
  <% end %>
</dl>

<div class="tabs-content">
  <%= content_for(:tabs)  %>
</div>
